.Rproj.user
.Rhistory
.RData
.Ruserdata
# build code
build_exe.R
# RInno files
RInno_files/AppInventarioNativas.bat
RInno_files/AppInventarioNativas.iss
RInno_files/default.ico
RInno_files/exe_folder/
RInno_files/infoafter.txt
RInno_files/infobefore.txt
RInno_files/setup.ico
RInno_files/utils/